/* start defult theme */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.dropdown-menu > li >a:focus ,
.dropdown-menu > li >a:hover,
.dropdown-menu .divider,
.carousel-indicators .active ,
.option-box .color-option ul li,
.option-box .color-option .gear-check
{  background-color: #e41b17;}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testmonials span,
.footer .copyright span,
.footer h3
{ color: #e41b17;}

.testmonials .carousel-indicators li .active ,
.option-box .color-option,
.option-box .color-option .gear-check
{ border: 2px solid #e41b17;}

.dropdown-menu
{border-top: 3px solid #e41b17;}